/*
    Colourscheme
    Dark blue - #2c318e
    Pink - #ef4f90
    Light red - #f37576
    Yellow - #ffcd4b
*/
@import url('https://fonts.googleapis.com/css2?family=Crete+Round&display=swap');

*::selection {
    background-color: #2c318e;
    color: #fff;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #f0f0f0;
    /* Light Grey */
    color: #000;
    font-size: 1rem;
}

header {
    background-color: #ffcd4b;
    color: inherit;
    border-bottom: 3px solid #000;
}

article {
    text-align: center;
    background-color: #fff;
    color: inherit;
}

footer {
    background-color: #ffcd4b;
    border-top: 3px solid #000;
}


footer p {
    text-align: center;
    font-size: 2rem;
}

header ul,
footer ul {
    list-style-type: none;
    text-decoration: none;
}

header ul li,
footer ul li {
    text-align: center;
    line-height: 30px;
    min-height: 30px;
}

header ul li a,
footer ul li a {
    background-color: #2c318e;
    color: #fff;
    text-decoration: none;
    border-radius: 20px;
    transition: 0.5s;
    font-weight: bold;

}

header ul li a:hover,
footer ul li a:hover,
header ul li a:active,
footer ul li a:active,
header ul li a:focus,
footer ul li a:focus {
    background-color: #ef4f90;
    color: #000;
    box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.7);
    transform: scale(1.01);
}

h1,
h2,
h3 {
    font-family: 'Crete Round', serif;
}

h1 {
    background-color: #fff;
    color: inherit;
    border-radius: 20px;
}

h1 img {
    line-height: 75px;
}

h2 {
    font-size: 3rem;
}

input, button {
    border-radius: 20px;
}

.submit {
    background-color: #2c318e;
    color: #fff;
    transition: 0.5s;
    font-weight: bold;
}

.submit:hover,
.submit:active,
.submit:focus {
    background-color: #ef4f90;
    color: #000;
    box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.7);
    transform: scale(1.01);
}

.container {
    min-height: 100vh;
}


/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {}
