/*
    Colourscheme
    Dark blue - #2c318e
    Pink - #ef4f90
    Light red - #f37576
    Yellow - #ffcd4b
*/
#messages {
    overflow-y: auto;
    height: 310px;
    border: 3px solid #2c318e;
    padding: 0 1em 1em;
    border-radius: 5px;
}

.messageBox {
    position: relative;
}

.username {
    text-align: left;
    color: #777;
    position: relative;
    top: 15px;
    left: -3px;
    margin-top: 1px;
}

.message {
    margin: 0;
    position: relative;
    top: 0;
    left: 0;
    padding: 5px 10px;
    text-align: left;
    background-color: #ef4f90;
    border-radius: 20px;
}
